.chart-container{
    width: 320px;
    display: flex;
    flex-direction: column;


    .charts{
        .info{
            position: absolute;
            top: 5%;
            left: 10%;
            width: 80%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
            flex-direction: column;
            border-radius: 50%;            
            background-size: 100%;

            span{
                font-size: 1.8em;
                color: #a7a7a7;
                text-transform: uppercase;
            }

            b{
                font-size: 2.6em;
            }

            .background-chart{
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: 100% 100%;
                border-radius: 50%;
                opacity: 0.4;
            }
        }
    
    }

    .region-data{
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #a7a7a7;
        padding-bottom: 1em;

        & > div{
            flex: 1;

            h2{
                color: green;
                margin-bottom: 0.2em;
                font-size: 1.2em;
            }

            b{
                margin-right: 0.5em;
            }

            span{
                color: #a7a7a7;
            }
        }

        & > div:last-child{
            text-align: end;
        }
    }
}

.img-green{
    background-image: url('../../assets/images/line-green.svg');
}
.img-blue{
    background-image: url('../../assets/images/line-blue.svg');
    transform: scaleX(-1);
}
.img-yellow{
    background-image: url('../../assets/images/line-yellow.svg');
}