*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;

    @media (max-width: 990px) {
        flex-direction: column;
        align-items: center;
    }

    & > div:first-child svg, 
    & > div:last-child svg{
        transform: scaleX(-1);
    }
}
